.btn {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.color {
  border: solid 1px black;
  display: inline-block;
  margin: 5px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.main-wrapper {
  width: auto;
}
