body {
  font-family: Helvetica;
}

.bulb-wrapper {
  line-height: 0px;
  margin-bottom: 10px;
}

.color {
  border: solid 1px black;
  display: inline-block;
  margin: 0px;
  height: 80px;
  width: 80px;
}

.btn {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  display: inline-block;
}

.main-wrapper {
  width: auto;
}
